*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    margin: 0;
    padding: 0;
    background-color: #2F3E46;
    font-family: Arial, Helvetica, sans-serif;
    width: auto;
}

h1{
    margin-bottom: 0;
}

/* couleur de fond */
#map{
    background-color: #354F52;
}

.score{
    background-color: #52796F;
}


/* Styles pour le conteneur principal */
.containers {
    display: flex;
    padding: 20px;
    margin: 0px;
    background-color: #2F3E46;
    color: white;
}

/* Styles pour le bloc du graphique */

.graphique {
    flex: 1;
    margin-right: 20px;
}

/* Styles pour le bloc de texte */

.texte {
    flex: 1;
}




.topnav {
    overflow: hidden;
    background-color: #333;
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    gap: 1px;
    grid-auto-rows: minmax(50px, auto);
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    padding-top:20px;
    padding-left: 10px;
    padding-right: 10px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #333;
    color: white;
    grid-column: 0.5;
}

.topnav a.no-active {
    background-color: #333;
    color: white;
    grid-column: 3;
}

.logoNavBar{
    margin-left:0;
    grid-column:1;
    width: 50px;
    
}

p{
    margin-top: 20px;
}

/* Bouton pour s'inscrire */ 

.styled {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: #333;
    grid-column: 18;
}

.styled:hover {
    background-color: #3f3f3f;
}


/* Bouton pour se connecter*/

.styled2 {
    font-size: 10px;
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: #333;
    grid-column-start: 19;
    grid-column-end: 20;
}

.styled2:hover {
background-color: #3f3f3f;
}


.search{
    background-color: #3f3f3f;
    color:white;
    grid-column:17 ;
    border-color: #333;
}

#bandeau-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1px;
    grid-auto-rows: minmax(48px, 48px);
    color:white;
}

#bandeau-image {
    width: 100vw;
    height: auto;
    color: white;
    font-family: Arial;
}
img{
    width: 100px;
    height: auto;
}
.img{
    grid-column: 1 / 7;
    grid-row: 1 / 6;
    width: 100vw;
    height: 240px;
    object-fit: cover;
}
.logo{
    grid-column: 1;
    grid-row: 1/3;
    width: 100%;
    margin-left: 130px;
    margin-top: 15px;
}
.one {
    margin: 10px;
    grid-column: 2;
    grid-row: 1;
    font-family: Arial;
    margin-top: 30px;
    font-size: 20px;
    
}
.two {
    grid-column:1;
    grid-row: 5;
    margin-left: 30px;
    font-family: Arial;
    font-size: 20px;
}
.three {
    grid-column:2;
    grid-row: 5;
    margin-left: 30px;
    font-family: Arial;
    font-size: 20px;

}
.four {
    grid-column:3;
    grid-row: 5;
    font-family: Arial;
    margin-left: 30px;
    font-size: 20px;

}
.five {
    grid-column:4;
    grid-row: 5;
    font-family: Arial;
    font-size: 20px;

}
.capital {
    grid-column:2;
    grid-row:2;
    font-family: Arial;
    margin-left: 20px;
    margin-top: 20px;
    font-size: 20px;
}


#comparateur{
    padding: 20px;
    color: white;
    background-color: #354F52;
    text-align: center;
}

#text{
    color: white;
    text-align: center;
}

