*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: 52796F;
}

html{
    background-color: FFFFFF;
}

/* couleur de fond */
.map{
    background-color: 2F3E46;
}

.score{
    background-color: 52796F;
}

/* Styles pour le conteneur principal */
.container {
    display: flex;
    justify-content: flex-start; /* Les éléments sont alignés à gauche */
    align-items: flex-start; /* Les éléments sont alignés en haut */
    padding: 20px;
    background-color: 2F3E46;
    color: white;
}

/* Styles pour le bloc du graphique */
.graphique {
    flex: 1; /* Le bloc du graphique prend autant d'espace que possible */
    margin-right: 20px; /* Marge à droite pour séparer du texte */
}

/* Styles pour le bloc de texte */
.texte {
    flex: 1; /* Le bloc de texte prend deux fois plus d'espace que le bloc du graphique */
}

.logoEcon img {
    max-width: 30px; /* Assurez-vous que le logo ne dépasse pas la largeur du conteneur */
    height: auto; /* Gardez le rapport hauteur/largeur de l'image */
    position: absolute; /* Position absolue pour positionner le logo */
    left: 52%; /* Positionnez le logo à gauche du bloc du graphique */
}

.logoEcolo img {
    max-width: 1.5%; /* Assurez-vous que le logo ne dépasse pas la largeur du conteneur */
    height: auto; /* Gardez le rapport hauteur/largeur de l'image */
    position: absolute; /* Position absolue pour positionner le logo */
    left: 2%; /* Positionnez le logo à gauche du bloc du graphique */
    
}

.topnav {
    overflow: hidden;
    background-color: #333;
    
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    gap: 1px;
    grid-auto-rows: minmax(50px, auto);
}
  
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    padding-top:20px;
    padding-left: 10px;
    padding-right: 10px;
}
  
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
  
.topnav a.active {
    background-color: #333;
    color: white;
    grid-column: 0.5;
}

.topnav a.no-active {
    background-color: #333;
    color: white;
    grid-column: 3;
}

.logoNavBar{
    margin-left:0;
    grid-column:1;
    
}

p{
    margin-top: 20px;
}

/* Bouton pour s'inscrire */
.styled {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: #333;
    grid-column: 18;
  }
  
  .styled:hover {
    background-color: #3f3f3f;
  }
  

/* Bouton pour se connecter*/
.styled2 {
    font-size: 10px;
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: #333;
    grid-column-start: 19;
    grid-column-end: 20;
  }
  
  .styled2:hover {
    background-color: #3f3f3f;
  }


.search{
    background-color: #3f3f3f;
    color:white;
    grid-column:17 ;
    border-color: #333;
}