html {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

body {
    margin:0px;
}

#bandeau {
    display: flex;
}

.bandeau-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-columns: minmax(96px, 96px);
    grid-auto-rows: minmax(50px, 50px);
    width: 50vw;
    justify-items: center;
}

.flag {
    width: 100px;
    grid-column: 2 / 4;
    grid-row: 1;
    margin-top:10px;
}

.img {
    grid-column: 1 / 5;
    grid-row: 1 / 5;
    width: 50vw; /* Set the image width to 50% of the viewport width */
    height: 250px;
    object-fit: cover;
    filter: brightness(50%);
    z-index: -1;
}

.logo {
    grid-column: 1/2;
    grid-row: 1/2;
    width: 120%;
}

.infos {
    grid-row: 5;
    text-align: center;
}

.infos p {
    margin: 0;
}

.nom {
    grid-column: 2/4;
    grid-row: 3;
    margin-top:8px;
}

.capital {
    grid-column:2/4;
    grid-row:4;
    margin:0;
    font-style: italic;
}

.stat {
    font-size: 20px;
}

