html {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

body {
    margin:0px;
}

h1 {
    margin-top: 10px;
}

p {
    margin:0
}

img {
    width: 50%;
    height: 100px;
}

.container-stats {
    background-color:#2F3E46;
}

.container-map {
    display: flex;
    justify-content: center;
    background-color: #354F52;
    padding: 35px 0;
}

#map {
    width: 70%;
    height: 400px;
    margin:auto
}

#bandeau {
    display: flex;
}

.bandeau-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-columns: minmax(96px, 96px);
    gap: 0px;
    grid-auto-rows: minmax(48px, 48px);
    width: 50vw;
}

.bandeau-image {
    width: 50vw; /* Set the image width to 100% of the viewport width */
    height: auto; /* Maintain the image's aspect ratio */
}

.img {
    grid-column: 1 / 5;
    grid-row: 1 / 5;
    width: 50vw; /* Set the image width to 50% of the viewport width */
    height: 240px;
    object-fit: cover;
}

.logo {
    grid-column: 1/2;
    grid-row: 1/2;
    width: 120%;
}

.infos {
    grid-row: 5;
}

.nom {
    grid-column: 2/4;
    grid-row: 1;
    text-align: left;
}

.capital {
    grid-column:2/4;
    grid-row:2;
    text-align: left;
    
}
.flex{
    display: flex;
    margin:0 50px
}

#t1{
    margin-top: 0%;
}
.p50{
    width:50%;
}

#chartdiv {
    width: 50%;
    height: 500px;
}
