/* Style de la première section */
.section,
.section2 {
    text-align: center;
    padding: 50px;
    margin-bottom: 20px;
}

.section img,
.section2 img {
    max-width: 100px;
    margin-bottom: 20px;
}

/* Style de la section grise */
.grey {
    background-color: #2F3E46;
    color: #333;
}

/* Style de la section light-green */
.light-green {
    background-color:#52796F;
    color: #333;
}

/* Style de la section dark-grey */
.dark-grey {
    background-color: #183A37;
    color: #fff;
}

/* Style pour les paragraphes p */
h2, p {
    line-height: 1.6;
    color: white;

}

.section:hover,
.section2:hover, p:hover {
    background-color: #ddd;
    color: gray;
}