/* Style pour la première section */
.section,
.section2 {
    text-align: justify;
    padding: 50px 180px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section img,
.section2 img {
    max-width: 150px;
    margin-bottom: 20px;
    border-radius: 50%;
}

/* Style pour la section grise */
.grey {
    background-color: #2F3E46;
    color: #333;
}

/* Style pour la section light-green */
.light-green {
    background-color: #52796F;
    color: #333;
}

/* Style pour la section dark-grey */
.dark-grey {
    background-color: #183A37;
    color: #fff;
}

/* Ajoutez d'autres styles au besoin pour les différentes sections */

/* Style pour les titres h2 */
h2 {
    font-size: 1.6em;
    line-height: 1.6;
    color: white;
}

/* Style pour les paragraphes p */
p {
    line-height: 1.6;
    color: white ;
}

/* Ajoutez un style de survol pour les sections si nécessaire */
.sectionp:hover,
.section2p:hover {
    background-color: #ddd;
    color: gray;
}