:root {
  --color1 : #2F3E46;
  --color2: #354F52;
  --color3 : #52796F;
  --color4 : #84A98C;
  --color5 : #183A37; 
  --navbar-height: 60px;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: #2F3E46;
}

body {
    margin:0px;
}

h1 {
    margin-top: 10px;
}

.container-map {
    display: flex;
    justify-content: center;
    background-color: #354F52;
    padding: 35px 0;
}


#map {
    width: 70%;
    height: 400px;
    margin:auto
}

#bandeau {
    display: flex;
    margin: 20px 0;
}

.bandeau-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 50px);
    width: 50%;
    height: 200px;
    justify-items: center;
    transition: all .5s;
}

.bandeau-container:active{
  height: 500px;
  transition: all .5s;
}

.bandeau-container:active .img {
  height: 500px;
  transition: all .5s;
}

.flag {
    width: 100px;
    grid-column: 2 / 4;
    grid-row: 1;
    margin-top:10px;
}

.img {
    grid-column: 1 / 5;
    grid-row: 1 / 5;
    width: 100%; /* Set the image width to 50% of the viewport width */
    height: 200px;
    object-fit: cover;
    filter: brightness(50%);
    z-index: -1;
    transition: all .5s;
    border-radius: 10px;
}

.infos {
    grid-row: 5;
    text-align: center;
}

.infos p {
    margin: 0;
}

.nom {
    grid-column: 2/4;
    grid-row: 3;
    margin-top:8px;
}

.capital {
    grid-column:2/4;
    grid-row:4;
    margin:0;
    font-style: italic;
}

.stat {
    font-size: 20px;
}


.flex{
    display: flex;
    margin:20px 40px;
}

#t1{
    margin: 10px 0;
    padding-left: 25px;
    border-left: solid;
}

.p50{
    width:40%;
    line-height: 1.5;
    text-align: justify;
}

.graph {
    width: 60%;
    height: 450px;
    background-color: #354F52;
}

.score {
    display: flex;
    justify-content: center;
}

.score-box {
    border-radius: 10px;
    background-color: #446700;
    width: 200px;
    height: 150px;
    justify-content: center;
    margin: auto;
    font-size: 80px;
    display: flex;
    align-items: center;
    border-bottom: solid;
}

.trait {
    border: solid 1px;
    height: 100px;
    margin:auto 0
}

.trait-hori {
    border: solid 1px;
    width: 250px;
    margin: 0 auto
}

select {
    grid-column: 2 / 4;
    text-align: center;
    height: 25px;
}

.button-compare {
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border: none;
    color: white;
    background-color: #52796F;
    transition: all .5s;
}

.button-compare:hover {
    background-color: #354F52;
    transition: all .5s;
}

.container-buttons {
    display: flex;
    justify-content: center;
}

.grille {
    display:flex
}

.sidebar {
	position: -webkit-sticky; /* for Safari */
	position:sticky;
	top:0;
	align-self: flex-start;
    width:360px;
    padding:0 10px 0 50px;
}

.main {
    padding:0 50px 0 10px;
}

.bg-52796F {
    background-color: #52796F;
}

.bg-354F52 {
    background-color: #354F52;
}

.bg-2F3E46 {
    background-color: #2F3E46;
}

.bg-BFBFBF {
  background-color: #BFBFBF;
}

.container-stats {
    padding:20px 0;
    margin: 20px 0;
    border-radius: 10px;
    width: 100%;
}

.img-small {
    grid-column: 1 / 3;
    grid-row: 1;
    width: 250px;
    height: 80px;
    object-fit: cover;
    filter: brightness(50%);
    border-radius: 10px;
}

.img-side {
  grid-column: 1 / 3;
  grid-row: 1;
  width: 300px;
  height: 80px;
  object-fit: cover;
  filter: brightness(50%);
  border-radius: 10px;
}

.mini-bandeau {
    display:grid;
    width:250px;
    height: 80px;
}

.flag-small {
    width: 50px;
    grid-row: 1;
    grid-column: 1;
    z-index: 5;
    align-self: center;
    margin: 0 10px;
    color:white;
    opacity: 100%;
    transition: all .5s;
}

.nom-small {
    grid-column: 1;
    grid-row: 1;
    z-index: 5;
    align-self: center;
    margin-left:70px;
    font-size:16px
}

.nom-region {
  justify-self: center;
  grid-column: 1 / 3;
    grid-row: 1 / 3;
    z-index: 5;
    align-self: center;
    font-size:16px;
    text-align: center;
}

.container-mini {
    margin: 20px 0;
    border-radius: 10px;
    width: 250px;
}

.container-side {
  margin: 20px 0;
  border-radius: 10px;
  width: 300px;
}

.mini-navig {
    padding: 1px 0;
}

.mini-navig p {
    border-left: solid;
    padding: 0 10px;
}

#plus {
    filter: invert(100%) sepia(0%) saturate(2242%) hue-rotate(125deg) brightness(115%) contrast(100%);
    width: 50px;
    margin: 10px;
}

.container-double {
    display: flex;
    justify-content: center;
}

.marg-l {
    margin-left:10px;
}

.marg-r {
    margin-right:10px
}

#bandeau0 {
  order:0
}

#bandeau1 {
  order:1
}

#bandeau2 {
  order:2
}

.container-catalogue {
  /* padding: 20px 0; */
  margin: 10px 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0 20px;
  padding-bottom: 10px;
}

.mini-score-box {
  border-radius: 7px;
  width: 50px;
  height: 35px;
  justify-content: center;
  margin: 0 10px;
  font-size: 25px;
  display: flex;
  align-items: center;
  grid-row: 1;
  grid-column: 1;
  z-index: 7;
  align-self: center;
  color:white;
  opacity:0;
  transition: all .5s;
}

.score-A {
    background-color: #006700;
}
.score-B {
    background-color: #446700;
}
.score-C {
    background-color: #E49C15;
}
.score-D {
    background-color: #BB5C00;
}
.score-E {
    background-color: #AA0000;
}

.hide-flag:hover .mini-score-box {
  opacity: 100%;
  transition: all .5s;
}

.hide-flag:hover .flag-small {
  opacity: 0;
  transition: all .5s;
}

.catalogue-buttons {
    grid-row: 1;
    grid-column: 2;
    opacity: 0;
    transition: all .5s;
    z-index: 7;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.mini-bandeau:hover .catalogue-buttons {
    opacity: 100%;
    transition: all .5s;
}

.button-catalogue {
    padding: 3px;
    margin: 5px 10px;
    border-radius: 7px;
    border: none;
    color: white;
    background-color: #52796F;
    transition: all .5s;
    cursor:pointer
}

#close-catalogue {
    align-self: flex-start;
  	width: 20px;
	  height: 20px;
    padding: 3px;
    margin: 5px 20px;
    border-radius: 7px;
    border: none;
    color: white;
    background-color: #52796F;
    transition: all .5s;
    cursor:pointer
}

.close-compare {
  width: 15px;
  height: 15px;
  padding: 3px;
  border-radius: 7px;
  border: none;
  color: white;
  background-color: #52796F;
  transition: all .5s;
  cursor: pointer;
  grid-column: 1;
  grid-row: 1;
  position: relative;
  left: 265px;
  align-self: center;
}

.title-catalogue {
    display: flex;
    justify-content: space-between;
}



.search-bar {
    background-color: #BFBFBF;
    color:354F52;
    border:none;
    border-radius: 10px;
    width: 250px;
    height: 50px;
    text-align: center;
    font-size: 16px;
    
}


.container-slim {
  margin: 20px 0;
  border-radius: 10px;
  width: 80px;
  height: 80px;
}

.bandeau-slim {
  display: grid;
  width: 80px;
  height: 80px;
}

.img-slim {
  grid-column: 1 / 3;
  grid-row: 1 / 3;
  width: 80px;
  height: 80px;
  object-fit: cover;
  filter: brightness(50%);
  border-radius: 10px;
}

.flag-slim {
  width: 50px;
  grid-row: 1;
  grid-column: 1;
  z-index: 5;
  align-self: center;
  margin: 0 15px;
  color: white;
  opacity: 100%;
  transition: all .5s;
}

.nom-slim {
  grid-column: 1;
  grid-row: 2;
  z-index: 5;
  align-self: center;
  font-size: 12px;
  text-align: center;
  margin: 0;
  opacity: 100%;
  transition: all .5s;
}

.buttons-slim {
  grid-row: 2;
  grid-column: 1;
  opacity: 0;
  transition: all .5s;
  z-index: 7;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.bandeau-slim:hover .buttons-slim {
  opacity: 100%;
  transition: all .5s;
}
.bandeau-slim:hover .nom-slim {
  opacity: 0;
  transition: all .5s;
}



.container-continents {
    justify-content: center;
    display: flex;
}

.sub-continents {
  width: 50%;
}

.sub-continents .container-catalogue:nth-child(2) {
  border-bottom: solid 1px;
  border-top: solid 1px;
}

.cursor {
  cursor:pointer
}

::placeholder {
    font-style: italic;
}

/* Style navbar */

.navbar {
  overflow: hidden;
  background-color: #2F3E46;
  height: var(--navbar-height);
}

.navbar a {
float: left;
display: block;
color: #f2f2f2;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

.navbar a:hover {
background-color: #ddd;
color: black;
}


.search-container {
  float: center;
  margin: 3px 10px;
}

.search-container input[type=text] {
padding: 6px;
margin-top: 8px;
font-size: 17px;
border-radius: 5px;
}

.search-container button {
float: right;
padding: 6px 30px;
margin-top: 8px;
margin-right: 16px;
background: #ddd;
font-size: 17px;
border: none;
cursor: pointer;
}

.search-container button:hover {
background: #ccc;
}

/* Style footer */
.footer {
  background-color: #52796F; /* dark teal */
  color: lightgrey;
  padding: 20px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.footers{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer img {
  height: 70px;
  margin-right: 20px;
}

.footer a {
  color: lightgrey;
  margin-right: 10px;
  text-decoration: none;
}

.footer p {
  margin: 0;
}

#annee {
  text-align: center;
  margin: auto;
}
/* Carrousel */

.custom-slider { display: none; }
.slide-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}

.slide-container h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color:  #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 70px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: -1.28px;
}

.slide-container h2 {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, 10%); 
  color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.64px;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: white;
  font-size: 30px;
  background-color: rgba(0,0,0,0);
  transition: background-color 0.6s ease;
}
.prev{ left: 15px; }
.next { right: 15px; }
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.5);
}
.slide-text {
  display: flex;
  position: absolute;
  color: #ffffff;
  font-size: 15px;
  padding-left: 8px;
  padding-top: 5px;
  bottom: 15px;
  width: 200px;
  height: 60px;
  bottom: 45px;
  right: 27px ;
  background: #354F52;
  border-radius: 15px;
}

.slide-text p {
  padding-left : 10px;
  padding-top: 15px;
}

.slide-index {
  color: #ffffff;
  font-size: 13px;
  padding: 15px;
  position: absolute;
  top: 0;
}
.slide-img{
  width: 100%;
  height: 400px;
  object-fit: cover;
  object-position: center;
}


/* Section 1  */

.section, .section2 {
  padding: 20px;
  height: auto;
  overflow: hidden;
  color: white;
}

.dark-grey {
  background-color: #183A37;
}
.grey {
  background-color: #2F3E46;
}
.light-green{
  background-color: #52796F;
}
img {
  width: 35%; /* Ajustez la largeur de l'image selon vos besoins */
}

.section img {
  float: right; 
  margin-left: 20px;
}

.section2 img {
  float: left; 
  margin-right: 20px;
}

.section.grey h2,
.section.grey p {
margin-right: 20px; 

}
#footer {
  background-color: var(--color1);
  height : 181px;
  width : 100%;
  
}

#map {
  width: 100%;
  height: 500px;
  background-color: #354F52;
  display:flex
}

#carousel-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  #menu {
    height: 350px;
    width: 100%;
    overflow: hidden;
    font-weight: 700;
    line-height: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    transition: all 0.6s ease-in-out;

    #current-option {
      position: relative;
      width: 100%;
      height: 100%;
      transform: translate(-25%, 0%);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      /* //background-color: blue; */
      overflow: hidden;

      #current-option-text1 {
        font-size: 1.6rem;
        line-height: 3rem;
        width: 220px;
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        /* //background: red; */

        &::before {
          content: attr(data-next-text);
          position: absolute;
          transform: translate(0%, 380px);
          width: 100%;
          height: 200px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: flex-start;
          /* //background: red; */
        }

        &::after {
          content: attr(data-previous-text);
          position: absolute;
          transform: translate(0%, -380px);
          width: 100%;
          height: 200px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: flex-start;
          /* //background: red; */
        }
      }

      #current-option-text2 {
        font-size: 0.8rem;
        width: 220px;
        height: 40px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-end;
        /* //background: green; */

        &::before {
          content: attr(data-next-text);
          position: absolute;
          transform: translate(0%, 380px);
          width: 100%;
          height: 40px;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-end;
          /* //background: green; */
        }

        &::after {
          content: attr(data-previous-text);
          position: absolute;
          transform: translate(0%, -380px);
          width: 100%;
          height: 40px;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-end;
          /* //background: green; */
        }
      }
    }

    #previous-option {
      width: 1.5rem;
      height: 1.5rem;
      border: none;
      display: block;
      cursor: pointer;
      background: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 256 256'%3E%3Cpolygon points='225.813,48.907 128,146.72 30.187,48.907 0,79.093 128,207.093 256,79.093' fill='%23333'%3E%3C/polygon%3E%3C/svg%3E");
      background-size: cover;
      position: absolute;
      transform: translate(310px, 50px);
    }

    #next-option {
      width: 1.5rem;
      height: 1.5rem;
      border: none;
      display: block;
      cursor: pointer;
      background: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 256 256'%3E%3Cpolygon points='225.813,48.907 128,146.72 30.187,48.907 0,79.093 128,207.093 256,79.093' fill='%23333'%3E%3C/polygon%3E%3C/svg%3E");
      background-size: cover;
      position: absolute;
      transform: translate(310px, -50px) rotate(180deg);
    }
  }

  #image {
    height: 240px;
    width: 240px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 101;
    position: absolute;
    transform: translate(140px, 0);
  }

  &.anim-next {
    pointer-events: none;

    #current-option-text1 {
      animation: next-text 0.65s 0.085s;
    }

    #current-option-text2 {
      animation: next-text 0.65s 0.085s;
    }

    #previous-option {
      animation: next-top-arrow 0.65s 0.085s;
    }

    #next-option {
      animation: next-bottom-arrow 0.65s 0.085s;
    }
    
    #image {
      animation: next-image 0.65s 0.085s;
    }
  }

  &.anim-previous {
    pointer-events: none;

    #current-option-text1 {
      animation: previous-text 0.65s 0.085s;
    }

    #current-option-text2 {
      animation: previous-text 0.65s 0.085s;
    }

    #previous-option {
      animation: previous-top-arrow 0.65s 0.085s;
    }

    #next-option {
      animation: previous-bottom-arrow 0.65s 0.085s;
    }
    
    #image {
      animation: previous-image 0.65s 0.085s;
    }
  }
}

@keyframes previous-text {
  50%,
  55% {
    transform: translate(0%, 390px);
  }
  to {
    transform: translate(0%, 380px);
  }
}

@keyframes previous-top-arrow {
  50% {
    transform: translate(310px, 53px);
  }
}

@keyframes previous-bottom-arrow {
  50% {
    transform: translate(310px, -47px) rotate(180deg);
  }
}

@keyframes previous-image {
  0% {
    transform: translate(140px, 0) scale(1);
    opacity: 1;
  }
  70% {
    transform: translate(140px, 0) scale(1.1);
    opacity: 0;
  }
  100% {
    transform: translate(140px, 0) scale(1);
    opacity: 1;
  }
}

@keyframes next-text {
  50%,
  55% {
    transform: translate(0%, -390px);
  }
  to {
    transform: translate(0%, -380px);
  }
}

@keyframes next-top-arrow {
  50% {
    transform: translate(310px, 47px);
  }
}

@keyframes next-bottom-arrow {
  50% {
    transform: translate(310px, -53px) rotate(180deg);
  }
}

@keyframes next-image {
  0% {
    transform: translate(140px, 0) scale(1);
    opacity: 1;
  }
  70% {
    transform: translate(140px, 0) scale(1.1);
    opacity: 0;
  }
  100% {
    transform: translate(140px, 0) scale(1);
    opacity: 1;
  }
}
