html {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: #2F3E46;
}

body {
    margin:0px;
}

h1 {
    margin-top: 10px;
}

.container-map {
    display: flex;
    justify-content: center;
    background-color: #354F52;
    padding: 35px 0;
}


#map {
    width: 70%;
    height: 400px;
    margin:auto
}

#bandeau {
    display: flex;
}

.bandeau-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-columns: minmax(96px, 96px);
    grid-auto-rows: minmax(50px, 50px);
    width: 50vw;
    justify-items: center;
}

.flag {
    width: 100px;
    grid-column: 2 / 4;
    grid-row: 1;
    margin-top:10px;
}

.img {
    grid-column: 1 / 5;
    grid-row: 1 / 5;
    width: 100%; /* Set the image width to 50% of the viewport width */
    height: 200px;
    object-fit: cover;
    filter: brightness(50%);
    z-index: -1;
}

.infos {
    grid-row: 5;
    text-align: center;
}

.infos p {
    margin: 0;
}

.nom {
    grid-column: 2/4;
    grid-row: 3;
    margin-top:8px;
}

.capital {
    grid-column:2/4;
    grid-row:4;
    margin:0;
    font-style: italic;
}

.stat {
    font-size: 20px;
}


.flex{
    display: flex;
    margin:20px 40px;
}

#t1{
    margin: 10px 0;
    padding-left: 25px;
    border-left: solid;
}
.p50{
    width:40%;
    line-height: 1.5;
    text-align: justify;
}

.graph {
    width: 60%;
    height: 450px;
    background-color: #354F52;
}

.score {
    display: flex;
    justify-content: center;
}

.score-box {
    border-radius: 10px;
    background-color: #446700;
    width: 200px;
    height: 150px;
    justify-content: center;
    margin: auto;
    font-size: 80px;
    display: flex;
    align-items: center;
    border-bottom: solid;
}

.trait {
    border: solid 1px;
    height: 100px;
    margin:auto 0
}

.trait-hori {
    border: solid 1px;
    width: 250px;
    margin: 0 auto
}

select {
    grid-column: 2 / 4;
    text-align: center;
    height: 25px;
}

.button-compare {
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border: none;
    color: white;
    background-color: #52796F;
    transition: all .5s;
}

.button-compare:hover {
    background-color: #354F52;
    transition: all .5s;
}

.container-buttons {
    display: flex;
    justify-content: center;
}

.grille {
    display:flex
}

.sidebar {
    width:360px;
    padding:0 10px 0 50px;
}

.main {
    padding:0 50px 0 10px;
}

.bg-52796F {
    background-color: #52796F;
}

.bg-354F52 {
    background-color: #354F52;
}

.bg-2F3E46 {
    background-color: #2F3E46;
}

.container-stats {
    padding:20px 0;
    margin: 20px 0;
    border-radius: 10px;
    width: 100%;
}

.img-small {
    grid-column: 1 / 3;
    grid-row: 1;
    width: 300px; /* Set the image width to 50% of the viewport width */
    height: 80px;
    object-fit: cover;
    filter: brightness(50%);
    border-radius: 10px;
}

.mini-bandeau {
    display:grid;
    width:300px;
    height: 80px;
}

.flag-small {
    width: 70px;
    grid-row: 1;
    grid-column: 1;
    z-index: 5;
    align-self: center;
    margin: 0 10px;
    color:white;
    opacity: 100%;
    transition: all .5s;
}

.nom-small {
    grid-column: 1;
    grid-row: 1;
    z-index: 5;
    align-self: center;
    margin-left:90px;
    font-size:16px
}

.nom-region {
  justify-self: center;
  grid-column: 1 / 3;
    grid-row: 1;
    z-index: 5;
    align-self: center;
    font-size:16px;
    text-align: center;
}

.container-mini {
    margin: 20px 0;
    border-radius: 10px;
    width: 300px;
}

.mini-navig {
    padding: 1px 0;
}

.mini-navig p {
    border-left: solid;
    padding: 0 10px;
}

#plus {
    filter: invert(100%) sepia(0%) saturate(2242%) hue-rotate(125deg) brightness(115%) contrast(100%);
    width: 50px;
    margin: 20px;
}

.container-double {
    display: flex;
    justify-content: center;
}

.marg-l {
    margin-left:10px;
}

.marg-r {
    margin-right:10px
}

#bandeau0 {
  order:0
}

#bandeau1 {
  order:1
}

#bandeau2 {
  order:2
}

.container-catalogue {
  padding: 20px 0;
  margin: 20px 0;
  border-radius: 10px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0 20px;
}

.mini-score-box {
  border-radius: 7px;
  background-color: #446700;
  width: 70px;
  height: 50px;
  justify-content: center;
  margin: 0 10px;
  font-size: 30px;
  display: flex;
  align-items: center;
  grid-row: 1;
  grid-column: 1;
  z-index: 7;
  align-self: center;
  color:white;
  opacity:0;
  transition: all .5s;
}

.mini-bandeau:hover .mini-score-box {
  opacity: 100%;
  transition: all .5s;
}

.mini-bandeau:hover .flag-small {
  opacity: 0;
  transition: all .5s;
}

.catalogue-buttons {
    grid-row: 1;
    grid-column: 2;
    opacity: 0;
    transition: all .5s;
    z-index: 7;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.mini-bandeau:hover .catalogue-buttons {
    opacity: 100%;
    transition: all .5s;
}

.button-catalogue {
    padding: 3px;
    margin: 5px 10px;
    border-radius: 7px;
    border: none;
    color: white;
    background-color: #52796F;
    transition: all .5s;
    cursor:pointer
}


#carousel-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  #menu {
    height: 350px;
    width: 100%;
    overflow: hidden;
    font-weight: 700;
    line-height: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    transition: all 0.6s ease-in-out;

    #current-option {
      position: relative;
      width: 100%;
      height: 100%;
      transform: translate(-25%, 0%);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      /* //background-color: blue; */
      overflow: hidden;

      #current-option-text1 {
        font-size: 1.6rem;
        line-height: 3rem;
        width: 220px;
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        /* //background: red; */

        &::before {
          content: attr(data-next-text);
          position: absolute;
          transform: translate(0%, 380px);
          width: 100%;
          height: 200px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: flex-start;
          /* //background: red; */
        }

        &::after {
          content: attr(data-previous-text);
          position: absolute;
          transform: translate(0%, -380px);
          width: 100%;
          height: 200px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: flex-start;
          /* //background: red; */
        }
      }

      #current-option-text2 {
        font-size: 0.8rem;
        width: 220px;
        height: 40px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-end;
        /* //background: green; */

        &::before {
          content: attr(data-next-text);
          position: absolute;
          transform: translate(0%, 380px);
          width: 100%;
          height: 40px;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-end;
          /* //background: green; */
        }

        &::after {
          content: attr(data-previous-text);
          position: absolute;
          transform: translate(0%, -380px);
          width: 100%;
          height: 40px;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-end;
          /* //background: green; */
        }
      }
    }

    #previous-option {
      width: 1.5rem;
      height: 1.5rem;
      border: none;
      display: block;
      cursor: pointer;
      background: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 256 256'%3E%3Cpolygon points='225.813,48.907 128,146.72 30.187,48.907 0,79.093 128,207.093 256,79.093' fill='%23333'%3E%3C/polygon%3E%3C/svg%3E");
      background-size: cover;
      position: absolute;
      transform: translate(310px, 50px);
    }

    #next-option {
      width: 1.5rem;
      height: 1.5rem;
      border: none;
      display: block;
      cursor: pointer;
      background: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 256 256'%3E%3Cpolygon points='225.813,48.907 128,146.72 30.187,48.907 0,79.093 128,207.093 256,79.093' fill='%23333'%3E%3C/polygon%3E%3C/svg%3E");
      background-size: cover;
      position: absolute;
      transform: translate(310px, -50px) rotate(180deg);
    }
  }

  #image {
    height: 240px;
    width: 240px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 101;
    position: absolute;
    transform: translate(140px, 0);
  }

  &.anim-next {
    pointer-events: none;

    #current-option-text1 {
      animation: next-text 0.65s 0.085s;
    }

    #current-option-text2 {
      animation: next-text 0.65s 0.085s;
    }

    #previous-option {
      animation: next-top-arrow 0.65s 0.085s;
    }

    #next-option {
      animation: next-bottom-arrow 0.65s 0.085s;
    }
    
    #image {
      animation: next-image 0.65s 0.085s;
    }
  }

  &.anim-previous {
    pointer-events: none;

    #current-option-text1 {
      animation: previous-text 0.65s 0.085s;
    }

    #current-option-text2 {
      animation: previous-text 0.65s 0.085s;
    }

    #previous-option {
      animation: previous-top-arrow 0.65s 0.085s;
    }

    #next-option {
      animation: previous-bottom-arrow 0.65s 0.085s;
    }
    
    #image {
      animation: previous-image 0.65s 0.085s;
    }
  }
}

@keyframes previous-text {
  50%,
  55% {
    transform: translate(0%, 390px);
  }
  to {
    transform: translate(0%, 380px);
  }
}

@keyframes previous-top-arrow {
  50% {
    transform: translate(310px, 53px);
  }
}

@keyframes previous-bottom-arrow {
  50% {
    transform: translate(310px, -47px) rotate(180deg);
  }
}

@keyframes previous-image {
  0% {
    transform: translate(140px, 0) scale(1);
    opacity: 1;
  }
  70% {
    transform: translate(140px, 0) scale(1.1);
    opacity: 0;
  }
  100% {
    transform: translate(140px, 0) scale(1);
    opacity: 1;
  }
}

@keyframes next-text {
  50%,
  55% {
    transform: translate(0%, -390px);
  }
  to {
    transform: translate(0%, -380px);
  }
}

@keyframes next-top-arrow {
  50% {
    transform: translate(310px, 47px);
  }
}

@keyframes next-bottom-arrow {
  50% {
    transform: translate(310px, -53px) rotate(180deg);
  }
}

@keyframes next-image {
  0% {
    transform: translate(140px, 0) scale(1);
    opacity: 1;
  }
  70% {
    transform: translate(140px, 0) scale(1.1);
    opacity: 0;
  }
  100% {
    transform: translate(140px, 0) scale(1);
    opacity: 1;
  }
}
