:root {
    --color1 : #2F3E46;
    --color2: #354F52;
    --color3 : #52796F;
    --color4 : #84A98C;
    --color5 : #183A37; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.bandeau {
    position : relative;
    height : 351px;
    width : 100%;
    margin-top: 736px;
    background: url("../images/image_monde.png");
    background-repeat: no-repeat;
    background-size: 100% 100%; 
    text-align: center;
}

.bandeau h1 {
    color: white;
    margin: 0; 
    font-size: 60px;
    width: 737px;
    height: 72px;
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 

}

.section1 {
    background-color: var(--color1);
    height : 840px;
    width : 100%;
    display: flex;
    justify-content: space-between;
}

.graph-container {
    width: 48%; /* Ajustez la largeur selon vos besoins */
    padding: 10px;
    box-sizing: border-box;
}

.section1 h2 {
    width: 484px;
    height: 61px;
    flex-shrink: 0;
    color:#FFF;
    font-family: Oswald;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}



.section2{
    background-color: var(--color5);
    height : 991px;
    width : 100%;
    text-align : center;
}


#treemap {
    width: 70%; 
    margin: 0 auto; 
    margin-top: 20%; 
    margin-bottom: 20%;
}


.section2 h2 {
    padding-top: 20px;
    top: 30px;
    text-align: center;
    color: white;
    font-size: 40px;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}

.footer {
    background-color: var(--color1);
    height : 181px;
    width : 100%;
    
}

