body {
    font-family: Arial, sans-serif;
    background-color: #354F52;
    color: white;
    display: flex;
    flex-direction: column;
}

.titre {
    font-size: 45px;
    text-align: center;
}

h2 {
    font-size: 33px;
}

.connexion-container {
    width: 600px;
    margin: auto;
}

.content-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
}

form {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.right-section {
    text-align: center;
    font-size: 18px;
    width: 50%;
    margin: auto 100px auto 50px;
    line-height: 1.25;
}

.right-section p, .right-section ul {
    text-align: justify;

}
.left-section {
    width: 50%;
    margin: 40px 50px 40px 100px;
}

label {
    margin-bottom: 10px;
    font-size: 18px;
}

input {
    width: 70%;
    padding: 15px;
    margin-bottom: 15px;
    font-size: 16px;
    border-radius: 10px;
    background-color: #b2c9cd;
    border: none;
    z-index: 2;
}

.submit {
    background-color: #52796F;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    width: 150px;
    cursor: pointer;
}

.logo {
    max-width: 40%;
    margin: auto;
}

.option-container {
    max-height: 120px;
    overflow-y: auto;
    background-color: #426165;
    border: none;
    border-radius: 0 0 10px 10px;
    font-size: 18px;
    width: 70%;
    padding: 5px;
    margin-top: -15px;
    z-index: 0;
    margin-bottom: 15px;
}

.option-container option {
    padding: 5px;
    border-radius: 10px;
}

.option-container option:hover {
    background-color: #2f474a;
}

.error {
    color: red;
    margin-top: 5px;
    font-size: 14px;
}

#errorMessages {
    color: red;
    margin-top: 10px;
    font-size: 16px;
}

.big-trait {
    border: solid 1px;
    height: 450px;
    margin:auto 0
}

::placeholder {
    font-style: italic;
}